<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E-Election Portal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/voting-page.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://www.findlaw.com/static/fi/images/voting/vote_logo.png">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>

<body>
    <h1 style="font-family: Poppins; position: absolute; top: 40px; left: 400px;">NAMES</h1>
    <h1 style="font-family: Poppins; position: absolute; top: 40px; left: 700px;">Registration Number </h1>
    <form method="post" action="/voting-page.ejs" id="my_form">

        <input type="text" hidden id="final_name" value="" name="final_name">
        <input type="text" hidden id="final_reg" value="" name="final_reg">
        <input type="text" hidden id="voter_name" value="" name="voter_name">
        <input type="text" hidden id="voter_reg" value="" name="voter_reg">
        <input type="text" hidden id="voter_dept" value="" name="voter_dept">
        <input type="text" hidden id="voter_sec" value="" name="voter_sec">
        
        <div id="candidate-list">
            <% succ.forEach((succ, index)=> { %>
                <% const crId='cr' + (index + 1); %>
                <% const rollId='r' + (index + 1); %>

                <div class="candidate_container">
                    <input style="border: none; border-radius: 20px;font-family: Poppins;scale:150%; position: absolute; left: 60px; text-align: center;" type="text" readonly id="<%= crId %>" value="<%= succ.Names %>" name="<%= crId %>">
                    <input style="border: none; border-radius: 20px;font-family: Poppins;scale:150%; position: absolute; left: 500px; text-align: center;" type="text" readonly id="<%= rollId %>" value="<%= succ.RegNo %>" name="<%= rollId %>">
                </div>
            <% }) %>
        </div>



        <!--<div class="cr1-div">
            <input type=" readonly" id="cr1" value="">
            <input type=" readonly" id="r1" value="">
        </div>   
        <div class="cr2-div">
            <input type=" readonly" id="cr2" value="">
            <input type=" readonly" id="r2" value="">
        </div>
        <div class="cr3-div">
            <input type=" readonly" id="cr3" value="">
            <input type=" readonly" id="r3" value="">
        </div>
        <div class="cr4-div">
            <input type=" readonly" id="cr4" value="">
            <input type=" readonly" id="r4" value="">
        </div> -->
            
        

        <div style="position: absolute; left: 1100px; top: 145px; scale: 180%; font-family: Poppins;">
            <button class="vote" onclick="getName(0)">vote</button>
            <button class="cancel" onclick="EnableVoteButtons(0)">cancel</button>
        </div>

        <div style="position: absolute; left: 1100px; top: 245px; scale: 180%; font-family: Poppins;">
            <button class="vote" onclick="getName(1)">vote</button>
            <button class="cancel" onclick="EnableVoteButtons(1)">cancel</button>
        </div>

        <div style="position: absolute; left: 1100px; top: 350px; scale: 180%; font-family: Poppins;">
            <button class="vote" onclick="getName(2)">vote</button>
            <button class="cancel" onclick="EnableVoteButtons(2)">cancel</button>
        </div>

        <div style="position: absolute; left: 1100px; top: 455px; scale: 180%; font-family: Poppins;">
            <button class="vote" onclick="getName(3)">vote</button>
            <button class="cancel" onclick="EnableVoteButtons(3)">cancel</button>
        </div>

        <button style="position: absolute; top: 600px; left: 470px; scale: 200%; width: 370px; border-radius: 5px; font-family: Poppins;" type="submit" class="submit">SUBMIT</button>

    </form>
    <script>

        const myform = document.getElementById("my_form");
        const urlParams = new URLSearchParams(window.location.search);
        const name = urlParams.get('name');
        const reg = urlParams.get('reg');
        const dept = urlParams.get('dept');
        const sec = urlParams.get('sec')
        document.getElementById("voter_name").value = name;
        document.getElementById("voter_reg").value = reg;
        document.getElementById('voter_dept').value = dept;
        document.getElementById('voter_sec').value = sec;




        function getName(index) {
            event.preventDefault();
            const candidateContainers = document.querySelectorAll(".candidate_container");
            candidateContainers[index].style.backgroundColor = "#4CAF50";
            document.getElementById("final_name").value = document.getElementById("cr" + (index + 1)).value;
            document.getElementById("final_reg").value = document.getElementById("r" + (index + 1)).value;
            disableVoteButtons()
        }

        function disableVoteButtons() {
            event.preventDefault();
            const voteButtons = document.querySelectorAll(".vote");
            
            voteButtons.forEach((btn, index) => {
                btn.disabled = true;
                btn.style.backgroundColor = "#b9f1bb";
            })
        }

        function EnableVoteButtons(index) {
            event.preventDefault();
            const candidateContainers = document.querySelectorAll(".candidate_container");
            candidateContainers.forEach(sel => {
                sel.style.backgroundColor="dodgerblue";
            })
            const voteButton = document.querySelectorAll(".vote");
           
            voteButton.forEach(btn => {
                btn.disabled = false;
                btn.style.backgroundColor = "#4CAF50";
                
            })
        }

        myform.addEventListener("submit", () => {
            event.preventDefault();

            if (document.getElementById("final_name").value === "") {
                alert("Missing fields");
            } else {
                myform.submit();
            }
        })
    </script>
</body>

</html>